

// _colors.scss
:root {
  /* Basic Colors */
  --color-bg: #F0F0EF;

  /* Grayscale */
  --color-gray-700: #262626;
  --color-gray-500: #767676;
  --color-gray-300: #A7B1BD;
  --color-gray-100: #E0E4E9;

  /* Primary */
  --color-primary-green-700: #347071;
  --color-primary-green-300: #8DAEA6;
  --color-primary-green-100: #F0F0EF;

  /* Secondary */
  --color-secondary-gray: #D4CEC1;
  --color-secondary-brown: #B7825F;
  --color-secondary-orange: #F5A85B;
  --color-secondary-yellow: #FAEEBE;
  --color-secondary-green: #AAE4BE;
  --color-secondary-blue: #52C0C1;
  --color-secondary-purple: #A9A7CD;
  --color-secondary-pink: #F1C8C4;
  --color-secondary-red: #F58E6B;
}