
.box { 
  background: rgba(255, 255, 255, 0.1); 
   backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); // safari 대응
  box-shadow: 
  inset -2px -9px 19px 0px rgba(255, 255, 255,0.3), 
  inset 3px 9px 19px 0px rgba(0, 0, 0, 0.05), 
  inset 0 -1px 30px 0px rgba(255, 255, 255, 0.26), 
  0 8px 15px rgba(0, 0, 0, 0.03)  ;
  
    /* 빛반사 표현 (가상 요소 사용) */
  overflow: hidden;
  
  &::before {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width: 0%;
  height: 100%;

  background-color: rgba(255,255,255,0.2);

  transform: translate(-50%, 0%) skewX(-45deg);
  opacity: 0.5;
  transition: all 0.4s ease;
  pointer-events: none;

  }
  
  &:hover{
    &::before {
    width: 200%;
    background-color: rgba(255,255,255,0.4);
    opacity: 0.9;
   }
  }
}
